<article class="uk-article">
<h1 class="uk-article-title">About</h1>
<p class="uk-article-meta">Updated January 20th, 2014</p>

<p><b>I was born</b> and raised in Pakistan. I currently live in Redmond.</p>

<p><b>I am currently a student</b> at the University of Washington studying Electrical Engineering with a concentration in Embedded Systems.</p>

<p><b>I have interned</b> at Adobe Systems as a Software Engineering Intern working on Adobe Anywhere.</p>

<p><b>I created two apps:</b> GlowStick! Free and Ripple Racer. Both can be found on the iOS App Store.</p>

<p><b>I have worked on various project</b> such as creating a game for a Microsoft game competition as well as developing a car classifieds website (Jeffslot.com).</p>

<p><b>I am well versed</b> in Java, C++, PHP and Objective-C. </p>

<p><b>I am proficient</b> with Python, Javascript and C#. </p>


If you’d like to hear more about what I do, what I’ve done, or what I want to do with my life, <a href="http://ahmedjafri.com/contact">click here to send me a message</a>. 
</article>