<article class="uk-article" ng-controller="ContactController">
<div class="uk-alert uk-alert-success" ng-show="formSubmitted && !alertError">I got your message!</div>
<div class="uk-alert uk-alert-danger" ng-show="formSubmitted && alertError">{{ errMessage }}</div>
<form class="uk-form uk-form-stacked" ng-submit="processForm()">
    <legend>Contact</legend>
    <div class="uk-form-row">
    	<input type="email" placeholder="Your Email" class="uk-form-width-large" ng-model="formData.email" required>
    </div>
    <div class="uk-form-row">
    	<textarea placeholder="" style="height:200px;" class="uk-form-width-large" ng-model="formData.text" required></textarea>
    </div>
    <div class="uk-form-row">
    	<button type="submit" class="uk-button uk-button-primary uk-button-large">Submit</button>
    </div>
</form>
</article>