
<article class="uk-article">
<h1>Songs I'm listening to</h1>
<hr />
<div soundcloud-player="/users/4246445/favorites">
	<figure class="uk-overlay uk-overlay-hover uk-thumbnail" ng-repeat="track in tracks">
	    <img src="{{ track.artwork_url }}" width="200" height="200" alt="">
	    <figcaption class="uk-overlay-panel uk-overlay-fade uk-overlay-background" style="text-align:center;line-height: 70px;" ng-style="isPlaying(track) ? {'opacity':'1' } :''">
	    	<h3>{{ track.title }}</h3>
	    	<i class="uk-icon-play uk-icon-medium" ng-class="isPlaying(track) ? 'uk-icon-pause' : 'uk-icon-play'"></i>
	    </figcaption>
	    <a class="uk-position-cover" href="#" ng-click="playTrack(track)"></a>
	</figure>
</div>
</article>